:host {
  --card-width: calc(var(--max-board-width) / var(--max-cards-per-row));
  cursor: pointer;
  display: block;
  width: var(--card-width);
  height: calc(var(--card-width) * var(--card-ratio-size));
  //background-color: red;
  perspective: 1000px;

  padding: 10px;

  &:hover .card-inner{
    transform: rotateY(-20deg);
  }

  &.flipped .card-inner{
    transform: rotateY(180deg);
  }
}

.card-inner{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 300ms;
  transform-style: preserve-3d;
}

.card-front, .card-back{
  border-radius: 15px;

  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  backface-visibility: hidden;
}

.card-front{
  transform: rotateY(180deg);
}
